{% extends "base.html" %}

{% block content %}

<h1><i class="fa fa-picture-o"></i> PhotoLab</h1>

<div class="row">
    {% if photos|length <= 0  %}
    <div class="alert alert-info" role="alert">
        <i class="fa fa-info-circle"></i> Nothing to see here, how about you <a href="#" data-toggle="modal" data-target="#upload-dialog">upload</a> a new photo?
    </div>
    {% endif %}

    {% for photo in photos %}
    <div class="col-xs-3 col-md-2">
        <a href="{{ photo }}" target="_blank" class="thumbnail" title="View Original">
            <img src="{{ photo }}">
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}
